html,
body {
  padding: 0;
  font-family:
    "Trebuchet MS",
    Calibri,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background: #212626;
  color: #fafafa;
  font-size: 14px;
  overflow-x: hidden;
  margin: 1rem;
}

pre {
  overflow-x: hidden;
  overflow-y: auto;
}

span.market-px {
  font-size: 2rem;
}
